# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
home-assistant_v2.db
home-assistant_v2.db*
# Directory (contents) ignores
.cloud
.storage
deps
tts
# Specific file ignores
.config_entries.json
.homekit.state
.ios.conf
.spotify-token-cache
.tradfri_psk.conf
.uuid
core
html5_push_registrations.conf
HZH88X~O*
HZH88X~O*
ip_bans.yaml
known_devices.yaml
options.xml
OZW_Log.txt
pyozw.sqlite
secrets.yaml
zwcfg_*
zwscene.xml

# ESPHome ignores
esphome/secrets.yaml
esphome/**/

# Ignore add-on files
aircast.xml
airsonos.xml
notebooks

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep

zones.yaml
*.json
*.js
*.crt
*.csr
*.pid
*.key
google_calendars.yaml


